
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

.adam{ 
    background-image: url('img/Predicting the Future.gif');
    background-size: 90%;
    
}

p, h1{
    font-family: 'Indie Flower', cursive;
    
    
}

nav{
    margin-left: auto;
    width: 100%;
}
h2{
     font-family: 'Indie Flower', cursive;
}

img{
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%px;
    margin-bottom: 10%px;

}
