body,html {

    margin: 0;
    color: #565051

}

}
section {
    overflow:hidden;
    width: 100%;
    position:relative;
    background:#fff;
}
#story {
    text-decoration:none;

}


h1 {
    text-align: center;
    padding-top:0;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-style:italic;
    font-weight:700;

}

h2 {
    text-align: left;
    padding-top:0;
    margin-left:18px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    font-style:normal;
    font-weight:300;
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing:1.8px;
    word-spacing:2px;

}

h3 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style:italic;
    font-weight:700;
    font-size:2.5em;
    line-height:.7em;
}

nav {
    position:relative;
    background: #9A8CDD;
    padding: 5px 0;
    width: 100%;
}

nav ul {
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 1 em;
}
li a {
				text-decoration: none;
                list-style: inline;
                color: #524A8D;
                font-family: 'Montserrat', sans-serif;
                text-transform:uppercase;
                font-size: 1em;
                padding: 10px;
                cursor:pointer;

}


.stickbottom {
    position: fixed;
    bottom: 0;
    z-index:1000;
}

.sticktop {
    position: fixed;
    top: 0;
    z-index:1000;
}




img.icon1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
    border-radius: 50%;


}

img.icon2{
    display:block;
    width: 25%;
    border: 0;
    border-radius: 50%;


}

img.c3{
    display:block;
    border: 0;
    border-radius: 50%;
}


#experience {
    list-style-position:outside;
    padding: 0px;
    margin: 0px;
}




#skills {
    float: right;
    width: 40%;
    padding: 30px;
    text-align: justify;
}

.jumbo {
    position:fixed;
    margin-top: 1 em;
}

#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}


body {
    background: #565051;
}
