@import url(http: //fonts.googleapis.com/css?family=Ek+Mukta: 300);

body,html {
    width: 100%;
    height: 100%;
    background: #565051;
    font-size: 1rem
}

#container {
    width: 100%;
    height: 100%
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    background: rgba(255,255,255,.95);
    box-shadow: 0 0 10px rgba(0,0,0,.75);
    overflow: hidden;
    z-index: 2
}

.site-title {
    float: left;
    display: inline-block;
    width: 250px;
    height: 25px;
    background: url(../images/logo.png) no-repeat;
    cursor: pointer;
    margin: 2rem
}

nav {
    float: right;
    margin: 2rem
}
nav ul {
    list-style: none
}
nav li {
    display: inline
}
nav li a {
    font: 1rem/1 "Ek Mukta",Verdana,sans-serif;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 0;
    margin: 0 24px
}
nav li a: hover {
    color: #000;
    border-bottom: 1px solid #000
}
nav .nav-pre-order {
    background: #75a800;
    color: #fff;
    border-radius: 30px;
    padding: 6px 42px;
    margin: 0
}

nav .nav-pre-order: hover {
    background: #80b700;
    color: #fff;
    border: none
}

nav .nav-pre-order: active {
    background: #7cb200
}
.top {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    background: url(../images/bg1.jpg) center no-repeat;
    background-size: cover;
    text-align: center
}
.top-content {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5.5rem;
    padding-bottom: 1rem
}
.top-content h1 {
    font: 5.5rem/1.5 "Ek Mukta",Verdana,sans-serif;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    padding: 1rem;
    padding-bottom: 0
}
.top-content video {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,.75);
    margin: 1rem auto
}
.top-content img {
    display: inline-block;
    text-align: center
}
.top-content button {
    display: block;
    background: 0 0;
    font: 1.25rem/1 "Ek Mukta",Verdana,sans-serif;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    border: 2px solid #fff;
    border-radius: 5px;
    outline: 0;
    padding: 15px 25px;
    margin: 1rem auto 0
}
.top-content button: hover {
    background: rgba(255,255,255,.1)
}
.box {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.75);
    position: relative;
    overflow: hidden;
    z-index: 1
}
.box-content {
    padding: 4rem;
    overflow: hidden
}
.box-content a {
    color: #074872;
    text-decoration: none
}
.box-content a: hover {
    text-decoration: underline
}
.next-section p {
    font: 1rem/1 "Ek Mukta",Verdana,sans-serif;
    color: #555
}
h2 {
    font: 4.236rem/1 "Ek Mukta",Verdana,sans-serif;
    color: #222
}
p {
    font: 1.3rem/1.5 "Ek Mukta",Verdana,sans-serif;
    color: #222;
    padding: 1.5rem 0 0
}
p.bio {
    font-size: 1.25rem
}
#contact-us {
    padding-top: 0
}
#contact-us p {
    text-align: center
}
span {
    display: block;
    font: 1rem/1 "Ek Mukta",Verdana,sans-serif;
    color: #444;
    text-align: center;
    margin-top: 1rem
}
blockquote>p {
    color: #555;
    font-style: italic
}
blockquote span {
    font: .9rem/1.5 "Ek Mukta",Verdana,sans-serif;
    color: #6f6f6f;
    text-align: left;
    margin-top: 0
}
ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto
}
li {
    font: 1.25rem/1.5 "Ek Mukta",Verdana,sans-serif;
    color: #222
}
li span {
    font: 1rem/1.5 "Ek Mukta",Verdana,sans-serif;
    color: #555
}
.left-image {
    float: left
}
.right-image {
    float: right
}
.features {
    overflow: hidden
}
.features li {
    width: 25%;
    float: left;
    display: inline-block;
    padding: 1rem 0;
    margin: 0 auto
}
.features li img {
    width: 100%;
    max-width: 125px
}
.centered-heading {
    text-align: center;
    padding-bottom: 0
}
.centered {
    text-align: center
}
.the-team {
    overflow: hidden
}
.the-team li {
    width: 30%;
    display: inline-block;
    padding: 1rem 0
}
.the-team li img,.the-team li span {
    display: block;
    margin: 0 auto
}
.the-team li h3 {
    font-size: 1.75rem;
    color: #074872;
    padding-top: 1rem
}
.button-pre-order {
    display: block;
    background: #75a800;
    color: #fff;
    border-radius: 30px;
    font: 1.5rem/1.25 "Ek Mukta",Verdana,sans-serif;
    border: none;
    outline: 0;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    padding: 20px 144px;
    margin: 0 auto
}
.button-pre-order: hover {
    background: #80b700
}
.button-pre-order: active {
    background: #7cb200
}
footer {
    width: 100%;
    display: block;
    background: #222
}
footer>div {
    padding: 2rem
}
footer p {
    display: inline-block;
    line-height: 32px;
    font-size: 1rem;
    color: #fff;
    padding: 0
}
footer ul {
    width: auto;
    float: right;
    display: inline-block
}
footer ul li {
    display: inline;
    padding: 0 .4rem
}
footer ul li: first-child {
    padding-left: 0
}
footer ul li: last-child {
    padding-right: 0
}
footer ul li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    opacity: .5;
    filter: alpha(opacity=50)
}
footer ul li a: hover {
    opacity: .7;
    filter: alpha(opacity=70)
}
@media all and (max-width: 1600px) {
    body,html {
        font-size: 85%
    }
    .top-content h1 {
        font-size: 4.25rem
    }
    .top-content video {
        max-width: 600px
    }
    
}
@media all and (max-width: 1130px) {
    .box>img {
        float: none;
        width: 100%
    }
    .imageHolder>img[src*='bg2.jpg'],div[data-image*='bg2.jpg'] {
        display: none
    }
    .features li,.the-team li {
        float: left;
        width: 50%
    }
    
}
@media all and (max-width: 1100px) and (min-height: 1024px) {
    .site-title,nav {
        float: none;
        display: block;
        margin: 2rem auto
    }
    
}
@media all and (max-height: 850px) and (max-width: 1100px) {
    header {
        background: #fff
    }
    .nav-toggle {
        display: block;
        float: right;
        width: 25px;
        height: 25px;
        background: url(../images/nav-toggle.png) no-repeat;
        cursor: pointer;
        margin: 2rem 1rem 2rem 0
    }
    .nav-visible {
        display: block
    }
    nav {
        width: 100%;
        display: none;
        clear: both;
        margin: 0
    }
    nav ul {
        width: 100%
    }
    nav li {
        display: block;
        border-top: 1px solid #eee;
        padding: 0
    }
    nav li a {
        width: 100%;
        display: block;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1.5rem 0;
        margin: 0
    }
    nav li a: hover {
        border-bottom: none
    }
    nav .nav-pre-order {
        background: 0 0;
        font-weight: 700;
        color: #75a800;
        border: none;
        padding: 1.5rem 0
    }
    nav .nav-pre-order: active,nav .nav-pre-order: hover {
        background: 0 0;
        color: #75a800;
        border: none
    }
    
}
@media all and (max-width: 700px) {
    header {
        background: #fff
    }
    .site-title {
        display: block;
        float: left;
        margin: 2rem 0 2rem 1rem
    }
    .nav-toggle {
        display: block;
        float: right;
        width: 25px;
        height: 25px;
        background: url(../images/nav-toggle.png) no-repeat;
        cursor: pointer;
        margin: 2rem 1rem 2rem 0
    }
    .nav-visible {
        display: block
    }
    nav {
        width: 100%;
        display: none;
        clear: both;
        margin: 0
    }
    nav ul {
        width: 100%
    }
    nav li {
        display: block;
        border-top: 1px solid #eee;
        padding: 1rem 0
    }
    nav li a {
        width: 100%;
        display: block;
        font-size: 1.25rem;
        text-decoration: none;
        margin: 0
    }
    nav li a: hover {
        border-bottom: none
    }
    nav .nav-pre-order {
        background: 0 0;
        font-weight: 700;
        color: #75a800;
        border: none;
        padding: .5rem 0
    }
    nav .nav-pre-order: active,nav .nav-pre-order: hover {
        background: 0 0;
        color: #75a800;
        border: none
    }
    .features li {
        float: none;
        width: 100%;
        display: block
    }
    .button-pre-order {
        padding-left: 72px;
        padding-right: 72px
    }
    
}
@media all and (max-width: 800px) {
    .top h1 {
        font-size: 4rem
    }
    
}
@media all and (max-width: 600px) {
    body,html {
        font-size: 75%
    }
    h2 {
        font-size: 3.5rem
    }
    .the-team li {
        width: 100%
    }
    
}
@media all and (max-width: 550px) {
    .button-pre-order {
        font-size: 1.25rem;
        padding: 12px 16px
    }
    .social li {
        padding-left: 0;
        padding-right: 0
    }
    .social li a {
        background-size: 24px 24px
    }
    

